/* google fonts  */


/* Poppins  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* Inter  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Roboto  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Common Styles or Common Utilities  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

:root {
    --hr-color: #AAAAAA;
    --paragraph-text-color: #3A3A3A;
    --poppins-font-family: 'Poppins', sans-serif;
    --inter-font-family: 'Inter', sans-serif;
    --roboto-font-family: 'Roboto', sans-serif;
}


/* Button Styles  */

.main-button {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
}

.main-button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.main-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}